    <!-- Section-1 -->
    <div id="carouselExampleControlsNoTouching" class="carousel slide container" data-bs-touch="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/dd109bb1f7572eed.png" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/8148ef38ec4096b7.png" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://orquest.com/wp-content/uploads/2021/01/food-delivery-man-in-medical-mask-and-gloves-brought-salads-of-fruits-and-vegetables-in-plastic-boxes-to-the-young-woman-s-house.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- section -2 how it works-->
    
    <div class="container text-center">  
        <div class="my-5">
            <h2>How it works</h2>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card border-0">
                <img src="https://cdn.makegoodfood.ca/images/home/how-it-works/Goodfood_home_how_it_works_visual_5.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">We create original recipes</h5>
                  <p class="card-text">Our in-house culinary team uses premium ingredients to create unique menus and prodcuts for breakfast, lunch, and dinner.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0">
                <img src="https://cdn.makegoodfood.ca/images/home/how-it-works/Goodfood_home_how_it_works_visual_6.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">You choose your prefrences</h5>
                  <p class="card-text">Choose form a variety of healthy, delicous meals each week that accomodate your dietary prefrences.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0">
                <img src="https://cdn.makegoodfood.ca/images/home/how-it-works/Goodfood_home_how_it_works_visual_7.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">We dilver weekly -for free.</h5>
                  <p class="card-text">Your ingredients are packaged in our temperature-conditioned boxes, so food stays fresh -even when you aren't at home.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0">
                <img src="https://cdn.makegoodfood.ca/images/home/how-it-works/Goodfood_home_how_it_works_visual_8.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">You eat incredible meals everyday</h5>
                  <p class="card-text">Our recipes are crated to cater to all cooking levels and styles. From a one-minute weekday breakfast to a delicous two-course dinner made with your own hands, our recipes cater to all cooking levels and styles.</p>
                </div>
              </div>
            </div>
          </div>

    </div>

    <!-- Section -3 top meal -->
    <div class="section-3-wrap container">
        <h1 class="py-5 text-center">Order Here!</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#each mealkits}}
            <div class="col">
                <div class="card h-100">
                    <img src="{{this.imageUrl}}"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.includes}}</p>
                        <a href="#" class="btn btn-primary">{{this.price}}</a>
                    </div>
                </div>
            </div> 
            {{/each}}
        </div>
    </div>